.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem;
}
.grid-container img {
  align-self: stretch;
  justify-self: stretch;
  object-fit: cover;
}
.portrait {
  grid-row: span 2;
}
.fit-left {
  object-position: left;
}
.fit-right {
  object-position: right;
}




/* Reset */

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  margin: 1rem;
  background: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 1.8rem;
  line-height: 1.5;
}
